**Q1) Try 5 Different functions of the String in Python.**
For example - index, split function.

In [4]:
#Crearing / Declaring one string.
num = "One Two Three Four Five Six Seven Eight Nine Ten"

In [5]:
# 1) For Strings only first character captilized
num.capitalize()

'One two three four five six seven eight nine ten'

In [7]:
# 2) To print String only samll case letter.
num.casefold()

'one two three four five six seven eight nine ten'

In [17]:
# 3) To print center align the string with other character
a= num[4]
a.center(5,"0")

'00T00'

In [21]:
#4) To count specified value number of times appear in string 
num.count("Six")

1

In [24]:
# 5) to print encoded version of string
num.encode()

b'One Two Three Four Five Six Seven Eight Nine Ten'

In [26]:
#6) To convert each value first letter in capital
num.title()

'One Two Three Four Five Six Seven Eight Nine Ten'

Question 2
**Try 5 Different functions of the List object in Python**

In [34]:
#creating a string
list=['a','b','c','d','4','6','7','4.5','Apple','Banana','6.7']

In [35]:
#1) To add a element in last index of string
list.append("Watermelon")
list

['a',
 'b',
 'c',
 'd',
 '4',
 '6',
 '7',
 '4.5',
 'Apple',
 'Banana',
 '6.7',
 'Watermelon']

In [38]:
#2) To Sort a list
list.sort()
list

['4',
 '4.5',
 '6',
 '6.7',
 '7',
 'Apple',
 'Banana',
 'Watermelon',
 'a',
 'b',
 'c',
 'd']

In [42]:
#4) To reverse the order of the list
list.reverse()
list

['4',
 '4.5',
 '6',
 '6.7',
 '7',
 'Apple',
 'Banana',
 'Watermelon',
 'a',
 'b',
 'c',
 'd']

In [61]:
#5) To print number of index from string of specified element
list.index("a")

8

In [64]:
#6) To remove element from list of particular index
list.pop(4)
list

['4',
 '4.5',
 '6',
 '6.7',
 'Watermelon',
 'a',
 'b',
 'c',
 'd',
 'One',
 'Two',
 'Three',
 'Four',
 'Five',
 'Six',
 'Seven',
 'Eight',
 'Nine',
 'Ten',
 'One',
 'Two',
 'Three',
 'Four',
 'Five',
 'Six',
 'Seven',
 'Eight',
 'Nine',
 'Ten',
 'One',
 'Two',
 'Three',
 'Four',
 'Five',
 'Six',
 'Seven',
 'Eight',
 'Nine',
 'Ten',
 'One',
 'Two',
 'Three',
 'Four',
 'Five',
 'Six',
 'Seven',
 'Eight',
 'Nine',
 'Ten']

Q3)
**Experiment with at least 5 default functions of Dictionary**

In [67]:
# Creating a Dictionary
d={ 1:"comp", 2:"Mech", 3:"Civil", 4:"Checmical", 5:"Electrical", 6:"Electronics" }

In [73]:
# 1) To Print sepretae only keys and values 
print("",d.keys())
print("",d.values())

 dict_keys([1, 2, 3, 4, 5, 6])
 dict_values(['comp', 'Mech', 'Civil', 'Checmical', 'Electrical', 'Electronics'])

In [93]:
# 2) To Add element in dict
d.update({7 : "Biotech"})
d

{1: 'comp',
 2: 'Mech',
 3: 'Civil',
 4: 'Checmical',
 5: 'Electrical',
 6: 'Electronics',
 7: 'Biotech'}

In [99]:
# 3) To return a value of specified keys
d.get(5)

'Electrical'

In [105]:
# 4) To copy a dict
d1 = d.copy()
d1

{1: 'comp',
 2: 'Mech',
 3: 'Civil',
 4: 'Checmical',
 5: 'Electrical',
 6: 'Electronics',
 7: 'Biotech'}

In [106]:
# 5) To clear a dict
d.clear()
d

{}